PORT = 8080

DB_PORT = 
DB_HOST = 
DB_USERNAME = 
DB_PASSWORD =
DB_NAME = 

DATABASE_URL = mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

PRIVATE_KEY =

MAIL_ENDPOINT = https://w3.med.cmu.ac.th/api/v1/mail
MAIL_TOKEN = 